:root {
    --bg: #f6f6f6;
    --darkBlue: #3282B8;
    --dark: #1B262C;
    --light: #BBE1FA;
}
/* font-family: 'Montserrat', sans-serif; */
body {
    background-color: var(--bg);
    font-size: 1.2rem;
    font-family: 'Cabin', sans-serif;
    color: var(--dark);
}

.custom-padding {
    padding: 5% 12% 1%;
}

.large-top-padding {
    margin-top: 250px;
}

h1 {
    font-size: 2.1rem;
    color: var(--darkBlue);
}

h3 {
    color: var(--darkBlue);
}

a {
    text-decoration: none;
    color: var(--dark);
}
a:hover {
    color: var(--dark);
}

.fa-medium {
    font-size: 1.7rem;
}

hr:not([size]) {
    height: 2px;
    
}
hr{
    opacity:1;
}

table, tr, td {
    word-wrap: break-word;
}

@media (max-width: 767px) {
    table, tr, td {
        word-break: break-word;
    }
    th {
        width: 30% !important;
    }
  }

/* scroll bar */


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
   
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 5px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--darkBlue); 
  } 




/*navbar-----------------------------------------*/

.nav-link {
    color: var(--darkBlue);
}

.nav-link:hover {
    color: var(--dark);
}
.navbar-brand{
    font-size: 2.5vw;
    /* font-weight: bold; */
    color: var(--dark) !important;
    letter-spacing: 15px;
    /* font-family: 'Montserrat', sans-serif; */
    margin-left: -10px;
    font-family: 'Zen Tokyo Zoo', cursive;
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 5vw;
    }
  }

/* index----------------------------------------------------------- */

.landing{
    font-size: 3.5rem;
}

.landing-container {
    min-height: 300px;
}

.custom-card {
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 2px 5px lightgray;
}

/* add patient */

input, textarea, select {
    border-color: grey !important;
    border-radius: 25px !important;
}

/* manage tests */

.card-scroll-overflow {
    height: 160px;
    overflow-y: scroll;
}

.custom-icon {
    border: none;
    border-radius: 25px;
    padding: 4%;
    margin-left: 10px;
    float: right;
}

.custom-icon-small {
    border: none;
    border-radius: 25px;
    padding: 1.5%;
    margin-left: 10px;
    float: right;
    background-color: var(--dark);
    color: var(--bg);
}

.custom-icon:hover, .custom-icon-small:hover {
    color: var(--bg);
    background-color: var(--darkBlue);
}

.custom-form-control{
    width: 75%;
    display: inline;
}


/* send report */

.watermark {
    color: gray;
}

/* .right {
    float: right;
} */
/* font-family: 'Sacramento', cursive; */
/* 
.navbar-brand{
    font-size: 2.5vw;
    
    font-weight: bold;
    color: #FC5185  ;
}
.navbar-brand:hover {
    color: #364F6B;
    opacity: 0.8;
}

@media (max-width:991px) and (min-width:575px){
    .navbar-brand{
        font-size: 3.5vw;
    }
}

@media (max-width: 575px){
    .navbar-brand{
        font-size: 3.7vw;
    }
}

.nav-link {
    color: #364F6B;
}
.nav-item{
    padding: 0 10px;
}
.nav-link:hover {
    color: #3FC1C9;
}
.nav-btn {
    background-color: #3FC1C9;
    border-radius: 25px;
    width: 100px;
    color: white;
    border: none;
    
}

.nav-btn:hover, .nav-btn:focus {
    background-color: #364F6B;
    color: white;
    box-shadow: none;
}
.dropdown-item:focus {
    background-color: #FC5185;
}
@media (max-width:991px){
    .nav-btn{
        background: none;
        width: auto;
        color: #364F6B;
    }
    .nav-btn:hover, .nav-btn:focus{
        color: #3FC1C9;
        background: none;
    }
}
.nav-toggler-icon {
    color: #364F6B;
}

.navbar-toggler:focus {
    outline: none;
}

#location .container-fluid{
    padding-top: 2%;
}

#change-location {
    margin-bottom: 300px;
} */
