<%- include("partials/header"); -%> 

<div class="custom-padding">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-8 col-sm-10 col-10 me-auto landing-container">
        <h1 class="landing">
            <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, I am Labory.", "I am your Assistant.", "I Love to Manage.", "What do you want me to do Today?", "Add Patient?", "Manage Tests?", "Create Reports?" ]'>
              <span class="wrap"></span>
            </a>
        </h1>
        </div>
        <img src="images/index.svg" alt="" class="col-lg-5 col-md-6 col-sm-12 col-12 ms-auto">
        
    </div>

    <div class="row">
        <a class="btn btn-outline-dark btn-lg col-lg-3 col-md-5 col-sm-12 col-12 me-auto mt-5"href="#get-started" role="button">Get Started</a>
    </div>

    <div id="get-started"></div>

    <div class="row large-top-padding">
        <img src="images/index2.svg" alt="" class="col-lg-5 col-md-6 col-sm-12 col-12 me-auto">
        <div class="col-lg-6 col-md-5 col-sm-12 col-10 ms-auto">
            <h1 class="mb-3 col-lg-5 col-md-8 col-sm-12 col-12 m-2 ">What next?</h1>
            <a class="btn btn-outline-dark btn-lg col-lg-5 col-md-8 col-sm-12 col-12 ms-auto m-2" href="/addPatient" role="button">Add Patient</a>
            <a class="btn btn-outline-dark btn-lg col-lg-5 col-md-8 col-sm-12 col-12 ms-auto m-2" href="/createReport" role="button">Create Report</a>
            <a class="btn btn-outline-dark btn-lg col-lg-5 col-md-8 col-sm-12 col-12 ms-auto m-2" href="/manageTest" role="button">Manage Test</a>
            <a class="btn btn-outline-dark btn-lg col-lg-5 col-md-8 col-sm-12 col-12 ms-auto m-2" href="/sendReport" role="button">Send Report</a>
        </div>
        <a class="btn btn-outline-dark btn-lg col-lg-3 col-md-5 col-sm-12 col-12 me-auto mt-5" href="#maintenance" role="button">Got Stuck?</a>
    </div>

    <div id="maintenance"></div>

    <div class="row large-top-padding">
        <div class="col-lg-4 col-md-8 col-sm-12 col-12 my-4 me-auto">
        <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title mb-4">Call for Help</h5>
              <h6 class="card-subtitle my-2 text-muted">Parth Namdev: +91 87585 03600</h6>
              <h6 class="card-subtitle my-2 text-muted">Soham Faldu: +91 94089 34979</h6>
            </div>
          </div>
        </div>
        <img src="images/index3.svg" alt="" class="col-lg-5 col-md-8 col-sm-12 col-12 ms-auto mt-4">
        
    </div>

</div>
<script>

    

    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.1rem solid #1B262C; color: #3282B8}";
        document.body.appendChild(css);
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>